{% extends 'adminindex.html' %}
{% block content %}
<body><br><br>

    <h2 style=" text-align: center;">Category Details </h2><br><br>

    {% for i in data %}
    <form action="{% url 'categoryupdate' id=i.id %}"  method="POST" enctype="multipart/form-data" style="text-align: center;">
    {% csrf_token %}
    
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Category name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="cname" name="cname" >
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Category description</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="cdescrip" name="cdescrip" >
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Category image</label>
      <div class="col-sm-10">
        <input type="file" class="form-control" id="cimage" name="cimage" >
      </div>
    </div>    
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

   
    </form> 
    {% endfor %}

    </body>
{% endblock %}
